body {
  background-color: plum;
  font-family: "Roboto", sans-serif;
}

header {
  border-bottom: 1px solid rgb(255, 255, 255);
  padding: 20px 0;
}

.weather-app {
  background: linear-gradient(
    180deg,
    rgba(26, 13, 71, 1) 0%,
    rgba(97, 52, 141, 1) 100%
  );

  max-width: 600px;
  margin: 70px auto;
  border-radius: 20px;
  padding: 40px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}
input.search-input {
  border: none;
  border-radius: 10px;
  padding: 20px;
  width: 80%;
  font-size: 16px;
}
input.search-submit {
  background-color: purple;
  border: none;
  border-radius: 10px;
  padding: 20px 30px;
  color: white;
  font-size: 16px;
}

footer {
  border-top: 1px solid rgb(255, 255, 255);
  padding: 20px 30px 0 0;
  text-align: center;
  font-size: ;
}
